/* navbar.css */
:root {
  --primary-color: #f87060;
  --secondary-color:#ffffff;
  --text-color: #111;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--secondary-color);
    position: relative;
  animation: fadeIn 1s ease-out;
  box-shadow: 0 15px 30px rgba(37, 36, 36, 0.264);
  }
  
@keyframes fadeIn {
    from {
      opacity: 0.4;
    }
    to {
    opacity: 1;
    }
  }

  .logo img {
    font-size: 24px;
    color: var(--primary-color);
   
  }
  
  .nav-links ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    color: var(--text-color);
  }
  a {
    text-decoration: none;
    color: var(--text-color);
  }
    a .nav-link {
   
    list-style-type: none;
    font-size: 18px;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    margin: 4px 0;
    background-color: rgb(0, 0, 0);
    transition: 0.6s;
  }
  
  /* Mobile */
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 64px;
      right: 0;
      background-color: var(--secondary-color);
      width: 100%;
      max-height: 0px;
      overflow:hidden;
      transition: max-height 0.3s ease-out;
      z-index: 100;
      text-align: center;
      gap: 16px;
    }
  
    .nav-links.active {
      max-height: 350px; 
    }
  
    .nav-links ul {
      flex-direction: column;
      padding: 20px;
      gap: 16px;
    }
  
    .hamburger {
      display: flex;
    }
  
    a .nav-link {
      font-size: 20px;
      color: var(--text-color);
      padding-bottom: 20px;
    }

    /* Hide nav links by default */
    .nav-links ul {
      display: flex;
    }
  }
  